<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953045422107-icuueg11h3suuk7jq8dn291sjhnfou94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953045422107-icuueg11h3suuk7jq8dn291sjhnfou94</string>
	<key>API_KEY</key>
	<string>AIzaSyBRGOQK0cwLhSHovhTTrGnk_mrFAdx-BtA</string>
	<key>GCM_SENDER_ID</key>
	<string>953045422107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotification</string>
	<key>PROJECT_ID</key>
	<string>ceponay</string>
	<key>STORAGE_BUCKET</key>
	<string>ceponay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953045422107:ios:8a2dbba285e103e68fa8be</string>
</dict>
</plist>